<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templating Engine</title>

    <style>
        .taskItem{
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>