*{
    margin: 0;
    padding: 0;
}
.parent{
    border: 2px solid black;
    min-height: 400px;
    font-size: 30px;
    margin: 30px;
    position: relative;
}

.child{
    border: 5px solid orange;
    width: 400px;
    margin: auto;
    position: absolute;
    /* if width is fixed then child will move wrt to that width only */
    
    /* margin auto only works for the width not for the height */
    /* top: 40px;
    left: 150px ; */
    left: 0;
    bottom: 0;

}